span.italic {
    font-style: italic;
}

span.bold {
    font-weight: bold;
}

span.underline {
    text-decoration: underline;
}

main, header, footer {
    max-width: 600px;
    width: 100%;
}

html {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(238, 242, 255);
}

.wrap-links {

    /* These are technically the same, but use both */
    overflow-wrap: break-word;
    word-wrap: break-word;

    -ms-word-break: break-all;
    /* This is the dangerous one in WebKit, as it breaks things wherever */
    word-break: break-all;
    /* Instead use this non-standard one: */
    word-break: break-word;

    /* Adds a hyphen where the word breaks, if supported (No Blink) */
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;

}

.strike-out {
    text-decoration: line-through;
}